.DS_STORE
*/*.DS_STORE
*/*/*.DS_STORE
*/*/*/*.DS_STORE
*/*/*/*/*.DS_STORE
*.tmp
*/*.temp
*/*/*.temp
*/*/*/*.temp
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp
*/*.flo
*/*.v
*/*.out
*/*/*.flo
*/*/*.v
*/*/*.out
*/*/Output
*/*/*/*.flo
*/*/*/*.v
*/*/*/*.out
*/*/*/Output
src/lib/stanzam
src/lib/stanza
src/*/__MACOSX
src/main/stanza/firrtl-main
utils/bin/firrtl
utils/bin/stanza
utils/bin/firrtl-scala
utils/bin/firrtl-stanza
utils/bin/firrtl.jar
utils/bin/firrtl-test.jar
utils/bin/FileCheck
spec/spec.aux
spec/spec.log
spec/spec.toc
spec/spec.out
spec/spec.synctex.gz
notes/*.docx
test_run_dir
__pycache__

.project

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea/
.idea_modules/
gen/
project/project/
/bin/
out/
.bloop
.metals
.bsp
project/metals.sbt

*~
*#*#
.vscode
