[submodule "chisel3"]
	path = chisel3
	url = https://github.com/freechipsproject/chisel3.git
	branch = 3.5.x
[submodule "chisel-testers"]
	path = chisel-testers
	url = https://github.com/freechipsproject/chisel-testers.git
	branch = 2.5.x
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/freechipsproject/firrtl
	branch = 1.5.x
[submodule "treadle"]
	path = treadle
	url = https://github.com/freechipsproject/treadle
	branch = 1.5.x
[submodule "diagrammer"]
	path = diagrammer
	url = https://github.com/freechipsproject/diagrammer
	branch = 1.5.x
[submodule "chiseltest"]
	path = chiseltest
	url = https://github.com/ucb-bar/chisel-testers2
	branch = 0.5.x
