name: Build and Test Chisel Scala-CLI Example

on:
  workflow_call:
    inputs:
      circt:
        description: 'The version of CIRCT to use'
        type: string

jobs:
  build_example:
    name: Build and Test
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        # Need to fetch full history for deriving version
        with:
          fetch-depth: 0
      - name: Install CIRCT
        id: install-circt
        if: ${{ inputs.circt }}
        uses: circt/install-circt@v1.1.1
        with:
          version: ${{ inputs.circt }}
          github-token: ${{ github.token }}
      # TODO have install-circt do this
      - name: Set CHISEL_FIRTOOL_PATH
        if: steps.install-circt.outcome == 'success'
        run: |
          dir=$(dirname $(which firtool))
          echo "CHISEL_FIRTOOL_PATH=$dir" >> "$GITHUB_ENV"
      - name: Cache Scala-CLI
        uses: coursier/cache-action@v6
      - name: Setup Scala-CLI
        uses: VirtusLab/scala-cli-setup@v1
        with:
          jvm: adoptium:17
          apps: sbt
      - name: Generate Chisel Scala CLI Example
        shell: bash
        run: |
          # Determine the version and insert it into the example
          sbt emitVersion
          VERSION=$(cat version.txt)
          sed "s/@VERSION@/$VERSION/g" .github/workflows/build-scala-cli-example/chisel-example.scala > chisel-example.scala
          # If the version does NOT contain SNAPSHOT, remove line including snapshots repo
          if ! grep -qi 'snapshot' <<< $VERSION; then
            sed -i '1d' chisel-example.scala
          fi
      # Need to publishLocal to test the example
      - name: Publish Local
        shell: bash
        run: sbt "unipublish / publishLocal"
      - name: Test Scala CLI Example
        shell: bash
        run: scala-cli chisel-example.scala
      - name: Upload Example
        uses: actions/upload-artifact@v4
        with:
          name: chisel-example.scala
          path: chisel-example.scala
          retention-days: 7
