name: Test Chisel

on:
  workflow_call:
    inputs:
      system:
        description: 'The GitHub runner to use'
        default: 'ubuntu-24.04'
        required: true
        type: string
      jvm:
        description: 'The Java version to use'
        default: 8
        required: true
        type: number
      scala:
        description: 'The Scala version to use'
        default: '2.13.16'
        required: true
        type: string
      espresso:
        description: 'The espresso version to use'
        default: '2.4'
        required: true
        type: string
      slang:
        description: 'The slang version to use'
        default: '7.0'
        required: true
        type: string
      circt:
        description: 'The CIRCT version to use (must be a valid release tag, "nightly", or "version-file").
                      Leave off (or empty) to let Chisel manage the CIRCT version'
        type: string
      ref:
        description: 'The branch, tag, or git hash to checkout'
        default: ''
        required: false
        type: string

jobs:
  ci:
    name: ci
    runs-on: ${{ inputs.system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Install Tabby OSS Cad Suite
        uses: ./.github/workflows/setup-oss-cad-suite
      - name: Install Espresso
        uses: ./.github/workflows/install-espresso
        with:
          version: ${{ inputs.espresso }}
      - name: Install Slang
        uses: ./.github/workflows/build-slang
        with:
          version: ${{ inputs.slang }}
      - name: Install FileCheck
        run: |
          sudo apt update
          sudo apt install llvm-19-tools
          echo "/usr/lib/llvm-19/bin" >> $GITHUB_PATH
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.jvm }}
      - name: Install CIRCT
        id: install-circt
        if: ${{ inputs.circt }}
        uses: circt/install-circt@3f8dda6e1c1965537b5801a43c81c287bac4eae4 # v1.1.1
        with:
          version: ${{ inputs.circt }}
          github-token: ${{ github.token }}
      # TODO have install-circt do this
      - name: Set CHISEL_FIRTOOL_PATH
        if: steps.install-circt.outcome == 'success'
        run: |
          dir=$(dirname $(which firtool))
          echo "CHISEL_FIRTOOL_PATH=$dir" >> "$GITHUB_ENV"
      - name: Print firtool version
        if: steps.install-circt.outcome == 'success'
        run: |
          echo "The CIRCT version used is:" >> $GITHUB_STEP_SUMMARY
          echo \`\`\` >> $GITHUB_STEP_SUMMARY
          $CHISEL_FIRTOOL_PATH/firtool -version >> $GITHUB_STEP_SUMMARY
          echo \`\`\` >> $GITHUB_STEP_SUMMARY
      - name: Test
        run: ./mill -j0 firrtl.cross[].test -oF + svsim.cross[].test -oF + chisel[].test -oF

  mima:
    name: binary compatibility checking
    runs-on: ${{ inputs.system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.jvm }}
      - name: Check Binary Compatibility with MiMa
        run: ./mill __.mimaReportBinaryIssues

  mill:
    name: compile project with mill
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.jvm }}
      - name: Install CIRCT
        id: install-circt
        if: ${{ inputs.circt }}
        uses: circt/install-circt@3f8dda6e1c1965537b5801a43c81c287bac4eae4 # v1.1.1
        with:
          version: ${{ inputs.circt }}
          github-token: ${{ github.token }}
      # TODO have install-circt do this
      - name: Set CHISEL_FIRTOOL_PATH and CIRCT_INSTALL_PATH
        if: steps.install-circt.outcome == 'success'
        run: |
          bindir=$(dirname $(which firtool))
          installdir=$(dirname $bindir)
          echo "CHISEL_FIRTOOL_PATH=$bindir" >> "$GITHUB_ENV"
          echo "CIRCT_INSTALL_PATH=$installdir" >> "$GITHUB_ENV"
      - name: Print firtool version
        if: steps.install-circt.outcome == 'success'
        run: |
          echo "The CIRCT version used is:" >> $GITHUB_STEP_SUMMARY
          echo \`\`\` >> $GITHUB_STEP_SUMMARY
          $CHISEL_FIRTOOL_PATH/firtool -version >> $GITHUB_STEP_SUMMARY
          echo \`\`\` >> $GITHUB_STEP_SUMMARY
      - name: Compile with Mill
        run: ./mill compileAll

  doc:
    name: Formatting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.jvm }}
      - name: Check Build Script Formatting
        run: ./mill --meta-level 1 mill.scalalib.scalafmt.ScalafmtModule/checkFormatAll sources
      - name: Check Source File Format
        run: ./mill __.checkFormat

  integration:
    name: Integration Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Install Tabby OSS Cad Suite
        uses: ./.github/workflows/setup-oss-cad-suite
      - name: Install Espresso
        uses: ./.github/workflows/install-espresso
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.jvm }}
      - name: Install CIRCT
        id: install-circt
        if: ${{ inputs.circt }}
        uses: circt/install-circt@3f8dda6e1c1965537b5801a43c81c287bac4eae4 # v1.1.1
        with:
          version: ${{ inputs.circt }}
          github-token: ${{ github.token }}
      # TODO have install-circt do this
      - name: Set CHISEL_FIRTOOL_PATH
        if: steps.install-circt.outcome == 'success'
        run: |
          dir=$(dirname $(which firtool))
          echo "CHISEL_FIRTOOL_PATH=$dir" >> "$GITHUB_ENV"
      - name: Integration Tests
        run: ./mill -j0 integration-tests.cross[].test -oF

  # Currently just a sanity check that the benchmarking flow works
  benchmark:
    name: Benchmarking Sanity Check
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.jvm }}
      - name: JMH
        run: ./mill benchmark.runJmh

  std:
    name: Standard Library
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        scala: ["2.13.16"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Install Tabby OSS Cad Suite
        uses: ./.github/workflows/setup-oss-cad-suite
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.jvm }}
      - name: Compile
        run: ./mill stdlib.cross[_].compile

  website:
    name: Build Mdoc & Website
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          # Need full history to correctly determine SNAPSHOT version
          fetch-depth: 0
      - name: Install Tabby OSS Cad Suite
        uses: ./.github/workflows/setup-oss-cad-suite
      - name: Cache Scala
        uses: coursier/cache-action@142d2738bd29f0eb9d44610828acb3a19809feab # v6.4.6
      - name: Setup Scala
        uses: VirtusLab/scala-cli-setup@28971dc5a5d4e155d2e410220ab21948383baaf9 # v1.7.0
        with:
          jvm: adoptium:17
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install CIRCT
        id: install-circt
        if: ${{ inputs.circt }}
        uses: circt/install-circt@3f8dda6e1c1965537b5801a43c81c287bac4eae4 # v1.1.1
        with:
          version: ${{ inputs.circt }}
          github-token: ${{ github.token }}
      # TODO have install-circt do this
      - name: Set CHISEL_FIRTOOL_PATH
        if: steps.install-circt.outcome == 'success'
        run: |
          dir=$(dirname $(which firtool))
          echo "CHISEL_FIRTOOL_PATH=$dir" >> "$GITHUB_ENV"
        # TODO: make the website building include building ScalaDoc
      - name: Build the website
        run: make -C website build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Tar built website
        run: tar zcf website.tar.gz website/build
      - name: Share Built Website
        uses: actions/upload-artifact@v4
        with:
          name: website
          path: website.tar.gz

  scala-cli-example:
    name: Test Scala-CLI Example
    uses: ./.github/workflows/build-scala-cli-example.yml
    with:
      circt: ${{ inputs.circt }}
